@model IEnumerable<WebApp.Areas.Admin.Models.ViewModels.ProductViewModel>
@{
    Layout = "~/Views/Layout/_Layout.cshtml";
    var productlist = (List<WebApp.Areas.Admin.Models.ViewModels.ProductViewModel>)ViewBag.ProductList;
}
@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-6" onclick="location.href='@Url.Action("PageProductDetail","Home",new { Id = TempData["GammingId"] })'">
                <div class="shop">
                    <div class="shop-img">
                        <img src="@Url.Content(ViewBag.Gamming)" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>GAMMING</h3>
                        <a href="@Url.Action("PageProductDetail","Home",new {Id=TempData["GammingId"] })" class="cta-btn">Ghé thăm  <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-6" onclick="location.href='@Url.Action("PageProductDetail","Home",new {Id=TempData["DoanhNhanId"]})'">
                <div class="shop">
                    <div class="shop-img">
                        <img src="@Url.Content(ViewBag.DoanhNhan)" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>DOANH NHÂN</h3>
                        <a href="@Url.Action("PageProductDetail","Home",new {Id=TempData["DoanhNhanId"]})" class="cta-btn">Ghé thăm <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-6" onclick="location.href='@Url.Action("PageProductDetail","Home",new {Id=TempData["DoHoaId"]})'">
                <div class="shop">
                    <div class="shop-img">
                        <img src="@Url.Content(ViewBag.DoHoa)" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>ĐỒ HỌA</h3>
                        <a href="@Url.Action("PageProductDetail","Home",new {Id=TempData["DoHoaId"]})" class="cta-btn">Ghé thăm  <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">SẢN PHẨM MỚI</h3>
                    @*<div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab2">Laptops</a></li>
                                <li><a data-toggle="tab" href="#tab2">Smartphones</a></li>
                                <li><a data-toggle="tab" href="#tab2">Cameras</a></li>
                            </ul>
                        </div>*@
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab2" class="tab-pane fade in active">
                            <div class="products-slick" data-nav="#slick-nav-2">
                                <!-- select 5 cái -->
                                <!-- product -->
                                @foreach (var item in Model)
                                {
                                    <div class="product">
                                        <div class="product-img" onclick="location.href='@Url.RouteUrl("xemchitiet", new {@sp=item.Name,@Id=item.Id })'">
                                            <img src="@Url.Content(item.UrlImage)">
                                        </div>
                                        <div class="product-body" onclick="location.href='@Url.RouteUrl("xemchitiet", new {@sp=item.Name,@Id=item.Id })'">
                                            <p class="product-category">@item.CategoryName</p>
                                            <h3 class="product-name">
                                                <a href="@Url.RouteUrl("xemchitiet", new {@id=item.Id,@sp=item.Name })">@item.Name</a>
                                            </h3>
                                            @if (item.Price == 0)
                                            {
                                                <h4 class="product-price">Liên hệ</h4>
                                            }
                                            else
                                            {
                                                <h4 class="product-price">@item.Price.ToString("#,##") VNĐ</h4>
                                            }
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Yêu thích</span></button>

                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <a class="addCart">
                                                @Html.Hidden("productId",item.Id)
                                                <i class="fa fa-shopping-cart">Thêm vào giỏ</i>
                                            </a>

                                        </div>
                                        @*<span>
                                            @Ajax.ActionLink("Thêm vào giỏ hàng ajax","ThemGioHangAjax","GioHang",new { @productId =item.Id},
                                       new AjaxOptions { HttpMethod="GET",UpdateTargetId= "divGioHang",InsertionMode=InsertionMode.Replace },null)
                                        </span>*@
                                    </div>
                                }
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-2" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab2" class="tab-pane fade in active">
                            <div class="products-slick" data-nav="#slick-nav-2">
                                <!-- product -->
                                @foreach (var item in productlist)
                                {
                                    <div class="product">

                                        <div class="product">
                                            <div class="product-img" onclick="location.href='@Url.RouteUrl("xemchitiet", new {@id=item.Id,@sp=item.Name })'">
                                                <img src="@Url.Content(item.UrlImage)" alt="">
                                            </div>
                                            <div class="product-body" onclick="location.href='@Url.RouteUrl("xemchitiet", new {@id=item.Id,@sp=item.Name })'">
                                                <p class="product-category">@item.CategoryName</p>
                                                <h3 class="product-name"><a href="#">@item.Name</a></h3>
                                                <h4 class="product-price">@item.Price.ToString("#,##") VNĐ</h4>
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="product-btns">
                                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Yêu thích</span></button>

                                                </div>
                                            </div>
                                            <div class="add-to-cart">
                                                <a class="addCart">
                                                    @Html.Hidden("productId", item.Id)
                                                    <i class="fa fa-shopping-cart">Thêm vào giỏ</i>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- /product -->
                                }
                            </div>
                            <div id="slick-nav-2" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- /Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->